{% extends "blog/base.html "%}
{%block body%}
    <div class="card text-dark mb-2 border-light">
        <h2 class="card-header mb-0">About</h2>
        <div class="card-body">
            <div class="card-body">
                <h5 class="card-text">
                    Status is a multi-user blog website, developed by Shreyans Jain,
                    a Final Year Information Technology Student from Thadomal Shahani
                    Engineering College, Bandra.
                </h5>
            </div>
        </div>
    </div>
{% endblock body %}