{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="card border-light">
        <h4 class="card-header">New Post</h4>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-dark mb-1" type="submit">Create Post</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}